<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrraper">
   <section class="parallax">
    <div class="parallax__body">
<div class="parallax__container container">
<div class="label">
</div>
<h1>Parallax</h1>
</div>
<div class="parallax__images">
    <div class="images-parallax__item">
        <div class="images-parallax__clouds"></div>
    </div>
    <div class="images-parallax__item">
        <div class="images-parallax__mountains"></div>
    </div>
    <div class="images-parallax__item">
        <div class="images-parallax__human"></div>
    </div>
</div>
    </div>
   </section>

</body>
</html>