<section class="content">
    <div class="content__container container">
        <h2 class="content__title">Lorem ipsum dolor sit.</h2>
        <div class="content__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et labore ab deserunt illo temporibus.</p>
        </div>
    </div>
   </section>
</div>